label, input {
    margin-bottom: 15px;
}
label {
  display: inline-block;
  width: 140px;
  text-align: left;
}​
, p {
    margin-left: 30px;
}
div.radio label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

.select {
    margin-left: 80px;
}
img {
    vertical-align: middle;
}
